# REST API Service Environment Variables
NODE_ENV=development

PORT=3001
DATABASE_URL=postgresql://your_username:your_password@postgres:5432/mls-app

# Kafka Configuration (Producer)
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=mls-backend